<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="https://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="UTF-8">
	<title>Manufacturing Workspase</title>
	<div th:replace="fragments/header :: header-css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/executedwork.css}">
</head>

<body>
	<div th:replace="fragments/header :: header"/>

	<div class='container'>
		
		<div class="row align-items-start">
			<!-- sidebar for executed work navigation-->
			<div class="col-lg-2">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
  					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    					<span class="navbar-toggler-icon"></span>
  					</button>
  					<div class="collapse navbar-collapse" id="navbarSupportedContent">
    					<ul class="navbar-nav mr-auto sidenav" id="navAccordion">
    						<li class="nav-item">
        							<a class="nav-link nav-link-collapse" th:href="@{'/executedwork'}">Недавно добавленные записи</a>
     						</li>
      						<li class="nav-item" id="create">
        							<a class="nav-link nav-link-collapse" th:href="@{'/executedworkcreate'}">Создать запись</a>
     						</li>
     						<li class="nav-item" id="create">
        							<a class="nav-link nav-link-collapse" th:href="@{'/executedworksearch'}">Поиск по параметрам</a>
     						</li>
      					</ul>
      				</div>
				</nav>
			</div>
			
			<div class="col-lg-7 content">

			<div th:if="(${executedwork}==null)">
				<h4>Поиск ведется по:</h4>
				<ul>
					<li>Участку и датам</li>
					<li>Работнику и датам</li>
					<li>Названию</li>
					<li>Обозначению</li>
				</ul>
			</div>
			<form th:action="@{'/executedworksearchwithparams'}" method="get" 
					th:if="(${executedwork}==null)">
					<div class='form-group row'>
						<label class='col-sm-2 col-form-label'>Название</label>
						<input type='text' class='form-control'  name="title">
					</div>
					<div class='form-group row'>
						<label for='designation' class='col-sm-2 col-form-label'>Обозначение</label>
						<input type='text' class='form-control' id='designation' name="designation">
					</div>
					<div class='form-group row'>
						<label class='col-sm-2 col-form-label'>Участок</label>				
						<select class="form-control" name="locationid">
								<option th:value="null"></option>
								<option 
								th:each="location: ${locations}"
								th:value="${location.location_id}" 
								th:text="${location.name}">
								</option>
						</select>
					</div>
					<div class='form-group row'>
						<label class='col-sm-2 col-form-label'>Работник</label>				
						<select class="form-control" name="employeeid">
								<option th:value="null"></option>
								<option 
								th:each="employee: ${employees}"
								th:value="${employee.employee_id}" 
								th:text="${employee.lastname}">
								</option>
						</select>
					</div>							
			 		<div class='form-group row'>
						<label for='datestart' class='col-sm-2 col-form-label'>Запуск</label>
						<input type='date'  class='form-control' name="searchstart">
					</div>
					<div class='form-group row'>
						<label for='datefinish' class='col-sm-2 col-form-label'>Окончание</label>
						<input type='date'  class='form-control' name="searchfinish">
					</div>
	
					<button type="submit" class="btn btn-primary searchbtn">Найти</button>
			</form>


			<table th:if="(${executedwork}!=null)" class="table">
					<thead>
						<tr>
							<th scope="col">Название</th>
							<th scope="col">Обозначение</th>
							<th scope="col">Участок</th>
							<th scope="col">Работник</th>
							<th scope="col">Наладка</th>
							<th scope="col">Количество</th>
							<th scope="col">Штучное время</th>
							<th scope="col">Время запуска</th>
							<th scope="col">Время окончания</th>
							<th scope="col">Комментарий</th>
							<th th:if="${#request.isUserInRole('ADMIN')}"></th>
						</tr>				
					</thead>
				<tbody th:each="exwork: ${executedwork}">
					<tr>
						<td th:text="${exwork.title}"></td>
						<td th:text="${exwork.designation}"></td>
						<td th:text="${exwork.location.name}"></td>
						<td th:text="${exwork.employee.lastname}"></td>
						<td th:text="${exwork.adjustmenttime}">
						<td th:text="${exwork.count}"></td>
						<td th:text="${exwork.piecetime}"></td>
						<td th:text="${#dates.format(exwork.datestart,'dd-MM-yyyy HH:mm')}"></td>
						<td th:text="${#dates.format(exwork.datefinish,'dd-MM-yyyy HH:mm')}"></td>
						<td th:text="${exwork.comment}"></td>
						<td th:if="${#request.isUserInRole('ADMIN')}">
							<form th:action="@{/executedworkedit}" method="post">
								<input type='hidden' class='form-control'  name="selectedExecutedWorkId" th:value="${exwork.id}">
								<button type="submit" class="btn btn-primary">Редактировать</button>
							</form>
						</td>
					</tr>
				</tbody>
				</table>
				
			</div>
		</div>
	
	</div>

  	<div th:replace="fragments/footer :: footer"/>
</body>

</html>
