.form-control{
	width:50%!important;
}
textarea{
	width:50%!important;
}
.content{
	font-size:0.7em;
	padding-left:0!important;
}
table{
	width:100%;
	padding-left:0!important;
}
button{
	font-size:0.7em;
}